<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- mybatis数据源配置 -->
	<!-- 1、加载jdbc.properties文件 -->
	<bean id="db"
		class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>
					classpath:jdbc.properties
				</value>
			</array>
		</property>
	</bean>
	<!--2、 配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	<!-- 3、在SpringIOC容器中 创建MyBatis的核心类 SqlSessionFactory -->
	<bean id="ssfb" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- 加载mybatis配置文件 -->
		<!-- <property name="configLocation" value="classpath:mybatis.xml"></property> -->
		<!-- 加载mapper映射文件 -->
		<property name="mapperLocations" value="classpath:com/wangqing/dao/*.xml"></property>
	</bean>
	
	
	<!-- 4、批量产生Mapper在Springioc中的id值就是首字母小写的接口名 -->
	<bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="ssfb"></property>
		<!-- 指定批量产生 哪个包中的mapper对象 -->
		<property name="basePackage" value="com.wangqing.dao"></property>
	</bean>
	
	<!-- Service -->
	<bean id="userServiceImp" class="com.wangqing.service.UserServiceImp">
		<property name="userMapper" ref="userMapper"></property>
	</bean>

</beans>